---
---

@import "dash";

.toggleWrapper {
  display: none;
}

.author-box .description {
  margin: auto 0;
}

.wrapper p {
  text-align: initial;
}

.post {
  line-height: 1.6;
}

.post p, .post ul,
.highlighter-rouge {
  margin-bottom: 1em;
}
